*{
    margin: 0;   
    padding: 0;
}
.header{
    width: 100vw;
    display: flex;
    text-align: center;
    overflow: hidden;
    justify-content: space-between;
}
ul{
    list-style-type: none;
}
.logo img{
    display: inline-block;
}
.logoDiv{
    width: 159px;
    height: 46px;
    margin-top: 43px;
    margin-left: 49px;
    display: flex;
}
.logoDiv img{
    width: 49px;
    height: 49px;
    border-radius: 124px;
}
.logoDivText{
    line-height: 45.7px;
    font-weight: 500;
    font-family: Roboto;
    font-size: 39px;
}
.gradientColor{
    background: -webkit-linear-gradient(180deg, #2B7AC1 0%, #3AB26F 100%),linear-gradient(0deg, #373737, #373737);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vl{
    width: 24px;
    height: 1px;
    border: 2px;
    rotate: -90deg;
    background-color:rgba(0, 0, 0, 0.61);
    margin-top: 25px;
}
.blogText{
    width: 49px;
    height: 29px;
    font-weight: 300px;
    line-height: 29.3px;
    font-size: 25px;
    color:rgba(55, 55, 55, 1);
}

.btnDiv{
    display: flex;   
    justify-content: center; 
}
.cart{
    width: 245px;
    height: 49px;
    margin-top: 43px;
    justify-content: space-between;
    padding: 10px;
}
.cartText1{
    display:inline-block;
    width: 94px;
    height: 26px;
    font-size: 22px;
    font-weight: 300;
    line-height: 25.78px;
    font-family: Roboto;
    color: rgba(55, 55, 55, 1);
}
.cartText2{
    display:inline-block;
    width: 94px;
    height: 26px;
    font-size: 22px;
    font-weight: 300;
    line-height: 25.78px;
    font-family: Roboto;
    color: rgba(55, 55, 55, 1);
}
.headerbtn{
    Width :223px;
    Height : 49px;
    margin-top : 43px;
    background-color: #184655;
    color: white;
    border-radius: 24px;
    border : none;
    font-weight: 500;
    font-size: 30px;
    line-height: 35.16px;
}

.hero-section{
    width:100vw;
    height: 742px;
    margin-top: 155px;
    margin-left: 27px;
    border-radius: 50px;
    background: linear-gradient(103deg, rgba(4,131,206,1) 0%, rgba(130,211,169,1) 65%, rgba(45,239,253,1) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero-section-heading{
    width: 424px;
    height: 136px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 67.5px;
    font-size: 26px;
    color:rgba(24, 70, 85, 1);
}
.search-bar{
    width: 546px;
    height: 78.93px;
    border-radius: 19px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
}
.search-bar input{
    width: 401px;
    height: 78.93px;
    border: none;
}
.search-bar button{
    width: 146px;
    height: 78.93px;
    margin-left: -5px;
    border: none;
    background-color: #184655;
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.discriptive-text{
    display: flex;
    margin-top: 25px;
    width: 331px;
    height: 25px;
    justify-content: space-between;
    color: rgba(83, 116, 140, 1);
    font-size: 21px;
    font-weight: 400;
    font-family: Roboto;
}
.latest-blog-section{
    width:100vw;
    height: 512px;
    margin-top: 100px;
    margin-left: 27px;
    border-radius: 50px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.latest-blog-section .image{
    width: 671px;
    height: 460px;
    margin-left: 49px;
    border-radius: 15px;
    overflow: hidden;
}
.latest-blog-content{
    width: 671px;
    height: 460px;
    margin-left: 49px;
}

.latest-blog-content .heading{
    width: 613px;
    height: 49px;
    font-weight: 500;
    font-size: 42px;
    line-height: 49.22px;
    color:rgba(64, 64, 64, 1);

}

.blog-details{
    display: flex;
    height: 29px;
    width: 613px;
    justify-content: space-between;
    color: rgba(111, 110, 110, 0.84);
    margin-top: 15px;
    font-size: 25px;
    line-height: 29.3px;
}

.blog-discription{
    margin-top:15px;
    width: 613px;
    height: 348px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 28px;
    line-height: 32.81px;
}